{% extends "base.html" %}
{% block content %}

<h2>新規登録ページ</h2>
<div>
  <a href="{{ url_for('user_maintenance' )}}">
      ユーザー一覧へ戻る
  </a>
</div>
<div>
  <a href="{{ url_for('login' )}}">
      ログインページへ
  </a>
</div>

<form method="POST">
  <!-- CSRF対策(トークンが生成される) -->
  {{ form.hidden_tag() }}
  <div>
    {{ form.username.label }} {{ form.username() }}
    {% for error in form.username.errors %}
      <span style="color: red;">{{ error }}</span>
    {% endfor %}
  </div>
  <div>
    {{ form.email.label }} {{ form.email() }}
    {% for error in form.email.errors %}
      <span style="color: red;">{{ error }}</span>
    {% endfor %}
  </div>
  <div>
    {{ form.password.label }} {{ form.password() }}
    {% for error in form.password.errors %}
      <span style="color: red;">{{ error }}</span>
    {% endfor %}
  </div>
  <div>
    {{ form.pass_confirm.label }} {{ form.pass_confirm() }}
  </div>
    {{ form.submit() }}
</form>
{% endblock %}